<h1>ANALYTICS</h1>
<br>
<br>
<h3>Average Number of Bookings Per User</h3>
<p><%= User.average_number_of_bookings %></p>
<br>
<h3>Average Number of Restaurants Per Terminal</h3>
<p><%= Terminal.average_number_of_restaurants %></p>
<br>
<h3>Users With No Bookings</h3>
<p><%= User.with_no_bookings %></p>
<br>
<h3>User With The Most Bookings</h3>
<p><%= User.most_bookings%></p>
<br>
<h3>User With The Least Bookings</h3>
<p><%= User.least_bookings%></p>
<br>
<h3>Total Number of Airlines</h3>
<p><%= Flight.airline_count %></p>
<br>
<h3>Airline With The Most Flights</h3>
<p><%= Flight.airline_with_most_flights %></p>
<br>
<h3>Airline With The Least Flights</h3>
<p><%= Flight.airline_with_least_flights %></p>
<br>


<!--
<br>
<br>
<h3>Average Number of Bookings Per User: <%= User.average_number_of_bookings %></h3>
<h3>Average Number of Restaurants Per Terminal: <%= Terminal.average_number_of_restaurants %></h3>
<br>
<br>
<br>
<p>There was an average of <%= User.average_number_of_bookings %> bookings per user.</p>
<br>
<p>There was an average of <%= Terminal.average_number_of_restaurants %> restaurants per Terminal.</p>
<%= p Flight.airline_count %>
-->