<h3>Add Flight</h3>

<%= form_with model: @booking do |f| %>
    <%# <%= f.label "Flight Number:"%>
    <%= f.text_field :number, placeholder: "enter flight number"%>
    <%= f.submit "Add Flight"%>
<% end %>

<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <li style="color: red"><%= e %></li>
  <% end %>
<% end %>