<style>
  .white-box {
    text-align: left;
  }
</style>


<table style="table-layout: auto; width: 100%; border-collapse: separate;
  border-spacing: 15px 0px">
  <tr>
    <th><h1>Flight Information</h1></th>
  </tr>
  <tr>
    <td><strong>Flight Number:</strong></td>
    <td><%= @booking.flight.number %></td>
  </tr>
  <tr>
    <td><strong>Airline:</strong></td>
    <td><%= @booking.flight.airline %></td>
  </tr>
  <tr>
    <td><strong>Departing Airport:</strong></td>
    <td><%= @booking.flight.departing_ap %></td>
  </tr>
  <tr>
    <td><strong>Departure Date/Time:</strong></td>
    <td><%= @booking.departure_time %></td>
  </tr>
  <tr>
    <td><strong>Arrival Airport:</strong></td>
    <td><%= @booking.flight.terminal.airport %></td>
  </tr>
  <tr>
    <td><strong>Arrival Date/Time:</strong></td>
    <td><%= @booking.arrival_time %></td>
  </tr>
  <tr>
    <td><strong>Terminal:</strong></td>
    <td><%= @booking.flight.terminal.number %></td>
    <td></td>
  </tr>
</table>
<br>
<button><%= link_to 'Find Restaurants', terminal_path(@booking.flight.terminal) %></button>
<br/>
<%= form_with model: @booking, method: :delete do |f| %>
    <%= f.submit "Remove Flight"%>
<% end %>
<br/>
<br>
<div style="text-align: center;">
<button><%= link_to 'Back', user_path(@user) %></button>


</div>



