<div class="container">

<h1>Create your account!</h1>

<%= form_with model: @user, url: '/register' do |f| %>
  <label>Name:</label> <%= f.text_field :name %><br>
  <label>Username:</label> <%= f.text_field :username %><br>
  <label>Password:</label> <%= f.password_field :password %><br>
  <label>Confirm Password:</label> <%= f.password_field :password_confirmation %><br>
  <%= f.submit "Create account" %>
<% end %>

<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <li style="color: red"><%= e %></li>
  <% end %>
<% end %>