<!-- <p>Currently logged in as: <%= @user.username %></p>-->

<br>
<h1>Welcome, <%= @user.name %>.</h1><br>

<h3> Flights:</h3> 
<%= form_with url: '/booking_selection_id', method: :post do |f| %> 
    <%= f.collection_select :id, @flights, :id, :number %>
    <%= f.submit "Flight Info"%>
<% end %>

<% if flash[:booking_created] %>
  <li style="color: green"><%= flash[:booking_created] %></li>
<% elsif flash[:flight_removed] %>
  <li style="color: green"><%= flash[:flight_removed] %></li>
<% else %>
  <br>
<% end %>

<br/>
<button class="button">
<%= link_to 'Add Flight', new_booking_path %>
</button>
<br>
<br>
<br>
<%= form_with url:'/logout', method: "delete" do |f| %>
<%= f.submit "logout"%>
<% end %> 
