<p>Currently logged in as: <%= @user.username %></p>
<%= form_with url:'/logout', method: "delete" do |f| %>
<%= f.submit "logout"%>
<% end %>


<h1>Welcome, <%= @user.name %>.</h1>

<h3> Flights:</h3> 
<%= form_with url: '/booking_selection_id', method: :post do |f| %> 
    <%= f.collection_select :id, @flights, :id, :number %>
    <%= f.submit "Flight Info"%>
<% end %>
<br/>
<button>
<%= link_to 'Add Flight', new_booking_path %>
</button>

