<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <li style="color: red"><%= e %></li>
  <% end %>
<% elsif flash[:signup_message] %>
  <li style="color: green"><%= flash[:signup_message] %></li>
<% elsif flash[:logout_message] %>
  <li style="color: green"><%= flash[:logout_message] %></li>
<% else %>
  <br>
<% end %>

<% if session[:user_id] %>
  <p>Currently logged in as: <%= @user.username %></p>
  <%= form_with url:'/logout', method: "delete" do |f| %>
  <%= f.submit "logout"%>
  <% end%>
<% end %>

<h1>Flight Guru App</h1>
<br>

<h3>Already a member?</h3>

<%= form_with url: '/login' do |f| %>
  Username: <%= f.text_field :username %><br>
  Password: <%= f.password_field :password %><br>
  <%= f.submit "Login" %>
<% end %>

<br>
<br>
<h4>Not a member yet?</h4>
<%= form_tag('/register', method: 'get') do %>
<%= submit_tag('Create New Account') %>
<% end %>

